---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = null;
---
<style lang="scss">
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .headshot {
        width: 17rem;
        height: 17rem;
        border-radius: 100%;
        border: 3px solid black;
        object-fit: cover;
        object-position: center;
    }

    .heading {
        span {
            text-align: center;
            display: block;
        }

        .welcome {
            font-weight: normal;
            font-size: 1.75rem;
            margin-top: 0.75rem;
            margin-bottom: 1.5rem;
        }

        .website {
            font-family: 'Courier New', Courier, monospace;
            font-weight: normal;
            font-size: 2.75rem;
            margin-bottom: 1.5rem;
        }
    }

    p {
        font-size: 1.3rem;
    }
}
</style>

<BaseLayout title={ title }>
    <header class="header">
        
    </header>
    <main class="main">
        <div class="hero">
            <img class="headshot" src="/assets/juniper.jpg" alt="Juniper">
        
            <h1 class="heading">
                <span class="welcome">hi, welcome to</span>{' '}
                <span class="website">junipers.website</span>
            </h1>

            <p>I'm Junie, and this is my website</p>

            <p>There'll be a blog, and some things to learn!</p>
        </div>
    </main>
</BaseLayout>