---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = null;
---
<BaseLayout title={ title }>
    <main>
        <header>
            <div>
                <img width="80" height="80" src="/assets/juniper.jpg" alt="Juniper">
                <h1>Welcome to <span>junipers.website</span></h1>
            </div>
        </header>
    </main>
</BaseLayout>