---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = null;
---
<style lang="scss">
@import '../style/mixins.scss';

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .headshot {
        width: 17rem;
        height: 17rem;
        border-radius: 100%;
        border: 3px solid black;
        object-fit: cover;
        object-position: center;
    }

    .welcome {
        font-size: 1.75rem;
        margin: 3rem 0 0 0;
    }

    .heading {
        @include font-squishyheader();
        font-size: 2.75rem;
        margin: 2rem 0 3rem 0;
    }

    .further {
        font-size: 1.4rem;
        margin-top: 0;
    }
}
</style>

<BaseLayout title={ title }>
    <header class="header">
        
    </header>
    <main class="main">
        <div class="hero">
            <img class="headshot" src="/assets/juniper.jpg" alt="Juniper">
        
            <p class="welcome">Hi, welcome to</p>
            <h1 class="heading">junipers.website</h1>

            <p class="further">I'm Junie, and this is my website</p>

            <p class="further">There'll be a blog, and some things to learn!</p>
        </div>
    </main>
</BaseLayout>