@mixin font-squishyheader {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

@mixin font-maintext {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

@mixin font-maintext-bold {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
