---
title: 
breadcrumb: []
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} // Juniper's website</title>
    <link rel="stylesheet" href="/site.css">

    {% include "components/ga.njk" %}
  </head>
  <body>
    <section class="content">
      <header>
        {% if breadcrumb %}
        <ul class="breadcrumb">
          {% for item in breadcrumb %}
          <li><a href="{{ item.path }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </header>
      {{ content | safe }}
    </section>
  </body>
</html>