---
const TITLE_SUFFIX = "Juniper Preston's Website"

const { title } = Astro.props
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{ title ? `${title} | ` : '' }{ TITLE_SUFFIX }</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
    <slot />
</body>
</html>
